---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_blog %}
    {% assign posts = site.posts | sort: "date" | reverse %}
    {% include widgets/blog_card_home.html posts=posts limit=site.data.display.homepage.num_blog %}
{% endif %}

{% if site.data.display.homepage.show_projects %}
    {% include widgets/project_card.html %}
{% endif %}
